:root {
    --tile: 100%;
}

.invisible {
    display: none;
}

.tile {
    width: var(--tile);
    height: var(--tile);
    position: relative;
    perspective: 1000px;
    filter: drop-shadow(0px 0px 2px black);
    transition: 0.2s;
}

.tile:hover{
    transform: scale(1.6);
    z-index: 1;
}

.tile__inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.tile__face {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    box-sizing: border-box;
    transition: transform 0.5s;
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
}

.tile__face::before {
    content: '';
    display: block;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 27% 65%;
    width: 30%;
    height: 30%;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 0 100% 0 0;
    border: 5px solid #ffc312;
    border-bottom: 0;
    border-left: 0;
    background-color: #fff;
}

.tile__face::after {
    content: '';
    display: block;
    background-size: cover;
    width: 30%;
    height: 30%;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 100% 0 0 0;
    border: 5px solid white;
    border-bottom: 0;
    border-right: 0;
}

.blank .tile__face::before {
    display: none;
}

.blank .tile__face::before {
    display: none;
}

.crash .tile__face::before {
    display: none;
}

.storm .tile__face::before {
    display: none;
}

.blank .tile__face::after {
    display: none;
}

.blank .tile__face::after {
    display: none;
}

.crash .tile__face::after {
    display: none;
}

.storm .tile__face::after {
    display: none;
}

.water .tile__face::before {
    display: none;
}

.water .tile__face--front::after {
    --size: 15%;
    border: 0;
    background: url('droplet-solid.svg');
    background-repeat: no-repeat;
    border-radius: 0;
    width: var(--size);
    height: var(--size);
    bottom: 3%;
    filter: invert(60%) sepia(18%) saturate(6592%) hue-rotate(159deg) brightness(100%) contrast(108%) drop-shadow(2px 4px 6px black);
}

.tile__face--back::after {
    --size: 30%;
    background-repeat: no-repeat;
    width: var(--size);
    height: var(--size);
    background-color: white;
    /* background-position-x: -8%; */
    background-size: 50%;
    background-position: 65% 65%;
    border-color: #ffc312;
}

.water .tile__face--back::after {
    background-image: url('droplet-solid.svg');
}

.gear .tile__face--back::after {
    display: block;
    background-image: url('gears-solid.svg');
}

.tunnel .tile__face--back::after {
    display: block;
    background-image: url('gears-solid.svg');
}

.tunnel .tile__face--back::before {
    display: block;
    background-image: url('archway-solid.svg');
}

.mirage .tile__face--back::after {
    display: none;
}

.compassX .tile__face--back::after {
    display: block;
    background-image: url('compass.jpeg');
    background-size: 100%;
    /* background-position: center; */
    transform: scaleX(-1);
    border-radius: 0 100% 0 0;
    border: 5px solid;
    border-bottom: 0;
    border-left: 0;
    border-color: #ffc312;
}

.compassY .tile__face--back::after {
    display: block;
    background-image: url('compass.jpeg');
    background-size: 100%;
    /* background-position: center; */
    transform: scaleX(-1);
    border-radius: 0 100% 0 0;
    border: 5px solid;
    border-bottom: 0;
    border-left: 0;
    border-color: #ffc312;
}

.engineX .tile__face--back::after {
    display: block;
    background-image: url('engine.jpeg');
    background-size: 100%;
    /* background-position: center; */
    transform: scaleX(-1);
    border-radius: 0 100% 0 0;
    border: 5px solid;
    border-bottom: 0;
    border-left: 0;
    border-color: #ffc312;
}

.engineY .tile__face--back::after {
    display: block;
    background-image: url('engine.jpeg');
    background-size: 100%;
    /* background-position: center; */
    transform: scaleX(-1);
    border-radius: 0 100% 0 0;
    border: 5px solid;
    border-bottom: 0;
    border-left: 0;
    border-color: #ffc312;
}

.fanX .tile__face--back::after {
    display: block;
    background-image: url('fan.jpeg');
    background-size: 100%;
    /* background-position: center; */
    transform: scaleX(-1);
    border-radius: 0 100% 0 0;
    border: 5px solid;
    border-bottom: 0;
    border-left: 0;
    border-color: #ffc312;
}

.fanY .tile__face--back::after {
    display: block;
    background-image: url('fan.jpeg');
    background-size: 100%;
    /* background-position: center; */
    transform: scaleX(-1);
    border-radius: 0 100% 0 0;
    border: 5px solid;
    border-bottom: 0;
    border-left: 0;
    border-color: #ffc312;
}

.obeliskX .tile__face--back::after {
    display: block;
    background-image: url('obelisk.jpeg');
    background-size: 100%;
    /* background-position: center; */
    transform: scaleX(-1);
    border-radius: 0 100% 0 0;
    border: 5px solid;
    border-bottom: 0;
    border-left: 0;
    border-color: #ffc312;
}

.obeliskY .tile__face--back::after {
    display: block;
    background-image: url('obelisk.jpeg');
    background-size: 100%;
    /* background-position: center; */
    transform: scaleX(-1);
    border-radius: 0 100% 0 0;
    border: 5px solid;
    border-bottom: 0;
    border-left: 0;
    border-color: #ffc312;
}

img {
    width: 100%;
    height: 100%;
}

.tile__face.tile__face--front {
    z-index: 1;
}

.tile__face.tile__face--back {
    z-index: 0;
    transform: rotateY(180deg);
}

.excavated .tile__inner {
    transform: rotateY(180deg);
}

.tile[data-is-storm='true'] .tile__face {
    border-radius: 100%;
    /* display: none; */
}

.players {
    width: 80%;
    height: 80%;
    position: absolute;
    top: calc(20% / 2);
    left: calc(20% / 2);
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(3, calc(100% / 3));
    display: none;
}

.players .player--1 {
    grid-column: 1;
    grid-row: 1;
    filter: invert(15%) sepia(98%) saturate(6428%) hue-rotate(357deg) brightness(101%) contrast(115%);
}

.players .player--2 {
    grid-column: 2;
    grid-row: 1;
    filter: invert(50%) sepia(48%) saturate(3741%) hue-rotate(88deg) brightness(112%) contrast(117%);
}

.players .player--3 {
    grid-column: 1;
    grid-row: 2;
    filter: invert(21%) sepia(0%) saturate(0%) hue-rotate(158deg) brightness(93%) contrast(84%);
}

.players .player--4 {
    grid-column: 2;
    grid-row: 2;
    filter: invert(90%) sepia(34%) saturate(1323%) hue-rotate(1deg) brightness(104%) contrast(103%);
}

.players .player--5 {
    grid-column: 1;
    grid-row: 3;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}

.players .player--6 {
    grid-column: 2;
    grid-row: 3;
    filter: invert(77%) sepia(42%) saturate(5827%) hue-rotate(151deg) brightness(103%) contrast(100%);
}

.sands {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.sand {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    filter: drop-shadow(1px 7px 0px black) drop-shadow(0px 0px 5px black);
    z-index: 0;
}

.sand__token {
    width: 100%;
    height: 100%;
    background: url("sand_texture.png");
    background-size: contain;
    -webkit-mask-image: url('sand_mask.png');
    mask-image: url('sand_mask.png');
    -webkit-mask-size: 100% 100%;
    mask-size:  100% 100%;
}

.sand__count {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: rgb(255 255 255);
    text-shadow: 0 0 10px #000;
    font-weight: 700;
    z-index: 1;
}